* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: black;
  background-image: url("../Images/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
body .navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 340px;
  height: 7vh;
  margin-bottom: 5px;
}
body .navigation .home {
  width: 40px;
  height: 30px;
  text-shadow: 0 0 10px red;
  margin-top: 10px;
}
body .navigation .score {
  color: rgb(226, 226, 226);
  text-shadow: 0 0 10px rgb(65, 115, 65);
  font-size: 1rem;
  padding-bottom: 40px 0;
}
body .navigation .message {
  font-size: 12px;
  text-shadow: 0 0 10px rgb(65, 115, 65);
  text-align: center;
  color: white;
  word-wrap: break-word;
  width: 120px;
  height: 40px;
}
body .quiz {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px black;
  margin-bottom: 10px;
}
body .quiz .question-display {
  width: 100%;
  height: 100px;
  border: 2px solid black;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px black;
  background-color: rgb(136, 136, 136);
  opacity: 0.8;
  font-weight: bolder;
  word-wrap: break-word;
  text-align: center;
}
body .quiz .answers {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
body .quiz .answers .cards__answer {
  width: auto;
  height: 10vh;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0.8;
  box-shadow: 0 0 10px 5px black;
  font-weight: bold;
}
body .footer {
  margin-bottom: 15px;
}
body .footer .start-button, body .footer .next-button {
  width: 120px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 10px;
}
body .footer .hide {
  display: none;
}

@media screen and (min-width: 820px) {
  body {
    font-size: 2rem;
  }
  body .navigation {
    width: 820px;
    height: 10vh;
    padding-bottom: 20px;
  }
  body .navigation .home {
    width: 50px;
    height: 50px;
    padding-left: 30px;
  }
  body .navigation .score {
    font-size: 2rem;
  }
  body .navigation .message {
    font-size: 1.6rem;
    width: 500px;
  }
  body .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 65vh;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  body .quiz .question-display {
    width: 98%;
    height: 30%;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(136, 136, 136);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  body .quiz .answers {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  body .quiz .answers .cards__answer {
    width: 320px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.7;
    font-size: 2rem;
  }
  body .footer {
    margin-bottom: 10px;
  }
  body .footer .start-button, body .footer .next-button {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px black;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 3rem;
    width: 100vw;
  }
  body .navigation {
    width: 1200px;
  }
  body .navigation .home {
    width: 60px;
    height: 60px;
  }
  body .navigation .score {
    font-size: 3rem;
  }
  body .navigation .message {
    font-size: 2rem;
  }
  body .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 50vh;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  body .quiz .question-display {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  body .quiz .answers {
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  body .quiz .answers .cards__answer {
    width: 270px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.7;
    font-size: 1.3rem;
  }
  body .footer {
    height: 10vh;
  }
  body .footer .start-button, body .footer .next-button {
    width: 250px;
    height: 60px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}
.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}/*# sourceMappingURL=main.css.map */