* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: black;
    background-image: url("/Images/6347260.jpg");
    background-size: cover;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 340px;
        height: 7vh;
        .home {
            width: 40px;
            height: 40px;
            text-shadow: 0 0 10px red;
            margin: 10px;
        }
        .countdown, .score {
            color: rgb(226, 226, 226);
            text-shadow: 0 0 10px rgb(65, 115, 65);
            font-size: 1rem;
        }
    }
    .quiz {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 90vh;
        border-radius: 20px;
        box-shadow: 0 0 20px 10px black;

        .question-display {
            width: 100%;
            height: 30%;
            border: 2px solid rgb(255, 255, 255);
            margin-bottom: 30px;
            border-radius : 10px;
            background-color: rgb(136, 136, 136);
            opacity: 0.8;
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .answers {
            width: 100%;
            height: 70vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 10px;
            .cards__answer {
                width: auto;
                height: auto;
                border: 2px solid grey;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background-color: rgb(255, 255, 255);
                opacity: 0.8;
            }
        }
    }
    .footer {
        .start-button, .next-button {
            width: 120px;
            height: 40px;
            border: 2px solid grey;
            border-radius: 5px;
            margin: 10px;
        }
        .hide {
            display: none;
        }
    }
}

@media screen and (min-width: 820px) {
    body {
        font-size: 2rem;
        .navigation {
            width: 820px;
            height: 10vh;
            .home {
                width: 50px;
                height: 50px;
                padding-left: 30px;
            }
            .score, .countdown {
                font-size: 2rem;
            }
        }
        .quiz {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 680px;
            height: 65vh;
            margin-top: 30px;
            margin-bottom: 10px;
            .question-display {
                width: 100%;
                height: 30%;
                border: 2px solid rgb(255, 255, 255);
                margin-bottom: 20px;
                border-radius : 10px;
                background-color: rgb(136, 136, 136);
                opacity: 0.6;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            .answers {
                width: 100%;
                height: 40vh;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                .cards__answer {
                    width: 320px;
                    height: 200px;
                    border: 2px solid white;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    opacity: 0.7;
                    font-size: 2rem;
                }
            }
        }
        .footer {
            .start-button, .next-button {
                width: 120px;
                height: 40px;
                border: 2px solid white;
                border-radius: 5px;
                box-shadow: 0 0 10px 2px black;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 3rem;
        .navigation {
            width: 1350px;
            .home {
                width: 60px;
                height: 60px;
            }
            .countdown, .score {
                font-size: 3rem;
            }
        }
        .quiz {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 1200px;
            height: 50vh;
            margin-top: 30px;
            margin-bottom: 10px;
            .question-display {
                width: 100%;
                height: 250px;
                margin-bottom: 20px;
                border-radius : 10px;
                opacity: 0.8;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            .answers {
                width: 100%;
                height: 250px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                .cards__answer {
                    width: 270px;
                    height: 100px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    opacity: 0.7;
                    font-size: 1.3rem;
                }
            }
        }
        .footer {
            height: 10vh;
            .start-button, .next-button {
                width: 250px;
                height: 60px;
                border: 2px solid grey;
                border-radius: 5px;
                font-size: 1.3rem;
            }
        }
    }
}

.correct {
    color:greenyellow;
}

.incorrect {
    color: red;
}